<app-navbar></app-navbar>
<div class="addprod">
<div class="form">
  <div class="title">Add New Product</div>


  <div class="input-container ic1">
    <input placeholder="" type="text" class="input" [(ngModel)]="newProduct.name" name="name" id="productName">
    <div class="cut"></div>
    <label class="iLabel" name="productName" >Product Name</label>
  </div>

  <div class="input-container ic2">
    <input placeholder="" type="text" class="input" [(ngModel)]="newProduct.description" name="description" id="prodDescription">
    <div class="cut"></div>
    <label class="iLabel" for="prodDescription">Description</label>
  </div>

  <div class="input-container ic2">
    <select class="input" id="brandSelect" [(ngModel)]="selectedBrand" name="selectedBrandId">
      <!--Select Brand-->
      <option value=""></option>
      <option *ngFor="let brand of brands"  [ngValue]= brand>
           {{brand.name}}
     </option>
           <!--End-->
    </select>
    <div class="cut cut-short"></div>
    <label class="iLabel" for="brandSelect">Select Brand</label>
  </div>

  <div class="input-container ic2">
    <select  class="input" id="categorySelect" [(ngModel)]="selectedCategory" name="selectedBrandId">
       <!--Select Category-->
       <option value=""></option>
       <option *ngFor="let category of categories" [ngValue]=category>
       {{category.name}}
      </option>
            <!--End-->
    </select>
    <div class="cut cut-short"></div>
    <label class="iLabel" for="categorySelect">Select Category</label>
  </div>

  <div class="input-container ic2">
    <input placeholder="" type="text" class="input"[(ngModel)]="newProduct.price" name="price" id="price">
    <div class="cut cut-short"></div>
    <label class="iLabel" for="price">Price</label>
  </div>

  <div class="input-container ic2">
    <input placeholder="" type="text" class="input" [(ngModel)]="newProduct.qte" name="qte" id="quantity">
    <div class="cut cut-short"></div>
    <label class="iLabel" for="quantity">Quantity</label>
  </div>

   <div class="input-container ic2">
    <select  class="input" id="imageSelect" [(ngModel)]="selectedImage" name="selectedImageId">
       <!--Select Image-->
       <option value=""></option>
       <option *ngFor="let image of images" [ngValue]=image>
       {{image.name}}
      </option>
            <!--End-->
    </select>
    <div class="cut cut-short"></div>
    <label class="iLabel" for="categorySelect">Select Image</label>
  </div>

  <div class="col-sm-16 col-md-16 col-lg-16">
    <label class="mb-2">Image :</label>
    <input type="file" (change)="onImageUpload($event)" name="logo" class="form-control">
  </div>
  
  <div class="col-sm-16 col-md-16 col-lg-16">
    <img [src]="imagePath" class="card-img-top img-fluid rounded-start" style="width: 500px; height: 300px" />
 </div>

  <button class="submit"   (click)="addProduct()" [routerLink]="['/prod']" type="text">ADD PRODUCT</button>
</div>
</div>

