.addprod {
  position: absolute;
  top: 20%;
  left: 35%;
  padding: 40px;
  background: linear-gradient(to right, #9c5ab8, #52b3f4);
  border-radius: 10px; /* Ajoutez ceci pour des coins arrondis, si vous le souhaitez */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Ajoutez ceci pour une ombre portée */
  color: white; /* Changez la couleur du texte pour qu'il soit lisible sur le fond violet-bleu */
}


.form {
  background: linear-gradient(to right, #3498db, #8e44ad);
  border-radius: 10px; /* Ajoutez ceci pour des coins arrondis, si vous le souhaitez */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Ajoutez ceci pour une ombre portée */
  box-sizing: border-box;
  height:100%;
  padding: 20px;
  width: 450px;
}

.title {
  display: flex;
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background: linear-gradient(to right, #bc92ceab, #52b3f4);
  border-radius: 12px;
  border: 2px solid violet; /* Bordure violette avec une largeur de 2px */
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: none; /* Contour transparent */
  padding: 4px 20px 0;
  width: 100%;
}

.cut {

  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;

}

.cut-short {
  width: 50px;
  font-size: 50px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: #ffffff;
}

.input:focus ~ .iLabel {
  color: #8600ba;
  font-size:25px ;
}

.submit {
  background: linear-gradient(to right, #8e44ad, #3498db); /* Dégradation de violet à bleu */
  border: 1px solid transparent; /* Bordure réduite et transparente par défaut */
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 6px 20px; /* Taille de la marge interne réduite */
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 12px; /* Taille de la police réduite */
  width: 150px;
  margin-left: 250px;
  margin-top: 35px;
}

.submit:hover{
  background: linear-gradient(to right, #3498db, #8e44ad); /* Inversion des couleurs au survol */
  border: 2px solid #8e44ad; /* Contour blanc au survol */
}
