<footer class="container">

  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h4>CONTACTEZ-NOUS</h4>
          <img class="icon" src="../../assets/icons8-mail-512.png">test@gmail.com<br><br>

          <img class="icon" src="../../assets/icons8-telephone-400.png">+216 12345678

        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">LIENS</h4>
          <a href="https://www.facebook.com/"> <img class="icon" src="../../assets/icons8-facebook-512.png">  </a>PAGE FACEBOOK

        </div>

      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 20123. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>



  </footer>
