<!--<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body style="color: rgb(95, 95, 170);">
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
  <li><a >Home</a></li>
  <li><a  >Brand</a></li>
  <li><a >Category</a></li>
  <li><a >Image</a></li>
  <li><a >Produt</a></li>
  </ul>
  </div>
  <div class="content">
        <div class="title" >
 welcome Administrator</div>

  </div>
  </body>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
             <li><a >Home</a></li>
             <li><a >Brand</a></li>
             <li><a >Category</a></li>
             <li><a >Image</a></li>
             <li><a >Product</a></li>
  </ul>
  </div>
  <div class="content">
        <div class="title">welcome Administrator </div>

  </div>
  </body>
-->

<nav class="navbar">
  <ul class="navbar-list navbar-left">
      <li class="navbar-item"><a href="#">Home</a></li>
      <li class="navbar-item"><a href="/brands">Brand</a></li>
      <li class="navbar-item"><a href="/categories">Category</a></li>
      <li class="navbar-item"><a href="/orders">Orders</a></li>
      <li class="navbar-item"><a href="/prod">Product</a></li>
  </ul>
  <ul class="navbar-list navbar-right">
      <li class="navbar-item"><button class="login-button"[routerLink]="['/register']">Register</button></li>
      <li class="navbar-item"><button class="login-button" [routerLink]="['/login']">Login</button></li>
  </ul>
</nav>
