<app-header></app-header>
<div class="detail">
<div class="product-detail">
  <div class="product-image">
    <img src="{{currentProduct.image}}" alt="title" />
  </div>
  <div class="product-info">
    <h2 class="product-title"> {{currentProduct.title}} </h2>
    <p class="product-description">  {{currentProduct.description}}  </p>
    <p class="product-price"> {{currentProduct.price}}  DT</p>
    <button class="back-button"[routerLink]="['/products']">back</button>
    <button class="add-to-cart"[routerLink]="['/card',currentId]">Add to Cart</button>

  </div>
</div>
</div>
