.form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #4169e1, #a358ea); /* Dégradé de violet à bleu */
  color: #fff;
  border: 1px solid #333;
}



.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #e95de9;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input {
  border: 2px solid #b954e1; /* Bordure violette */
  outline: none;
  color: white;
  background-color: transparent;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  transition: box-shadow 0.3s ease;

  border-radius: 10px;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}
.error{
  margin-left:600px;
  margin-right:600px;
  margin-top:35px;

}

.submit {
     border: 2px solid #670691; /* Bordure violette */
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    background-color: transparent; /* Fond transparent */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.submit:hover {
  box-shadow: 0 0 10px 10px #8e44ad; /* Effet dynamique avec une bordure violette au survol */

}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }

}
