<app-navbar></app-navbar>
<div class="orders">
  <div class="header">
    <h1>Orders</h1>
    <button class="add-button" [routerLink]="['/addorder']" >Add New Order</button>
  </div>
  <table class="orders-table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Order Date</th>
              <th>Delivery Address</th>
              <th>Total Amount</th>
              <th>Order Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>2023-09-15</td>
              <td>123 Main St</td>
              <td>$100.00</td>
              <td>Shipped</td>
              <td>
                  <button class="update-button" [routerLink]="['/updateorder']">Update</button>
                  <button class="delete-button">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
