.Category {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
.add-button {
  background: linear-gradient(to bottom, #8e44ad, #3498db);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}


.add-button:hover {
  background: linear-gradient(to bottom, #3498db, #8e44ad);
}

.modern-table {
  width: 80%;
  margin: 20px auto;
  background-color: #ffffff;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modern-table th,
.modern-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.modern-table thead {
  background: linear-gradient(to bottom, #b875d5, #7fc5f4);
  color: #fff;
}

.modern-table th {
  padding: 15px;
}

.modern-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modern-table tbody tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}


.update-button {
  background: none;
  color: #2980b9; /* Couleur d'édition */
  border: 2px solid #2980b9; /* Bordure de couleur d'édition */
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Supprime le contour au focus */
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.update-button:hover {
  background: #68b8ed; /* Fond bleu d'édition au survol */
  color: #fff; /* Texte blanc au survol */
  border-color: #fff; /* Bordure blanche au survol */
}

.update-button:active {
  transform: scale(0.95); /* Réduire légèrement la taille lorsqu'il est cliqué */
}


.delete-button {
  background: none;
  color: #ff0000; /* Rouge */
  border: 2px solid #ff0000; /* Bordure rouge */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Supprime le contour au focus */
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background: #ed6464; /* Fond rouge au survol */
    color: #fff; /* Texte blanc au survol */
}
.delete-button:active {
  transform: scale(0.95); /* Réduire légèrement la taille lorsqu'il est cliqué */
}

/* Animation de suppression */
@keyframes deleteAnimation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.8);
      opacity: 0.5;
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}

.delete-button.delete-animation {
  animation: deleteAnimation 0.5s ease;
}

.modern-table th:nth-child(3),
.modern-table td:nth-child(3) {
  width: 40%;
  max-width: 40%;
}
