<app-navbar></app-navbar>
<body>
   <div class="container" style="border-radius: 50% 20% / 10% 40%; box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);" >
       <div class="text">
         Add  New Brand
       </div>
       <form action="#">
          <div class="form-row">

             <div class="input-data">
                <input type="text" placeholder="BioDerma" >
                <div class="underline"></div>
                <label for="">Brand name</label>
             </div>
          </div>
          <div class="form-row">
           <div class="input-data textarea">
             <textarea rows="8" cols="80"  placeholder="this brand is ......"></textarea>
             <br />
             <div class="underline"></div>
             <label for="">Description of Brand</label>
             <br />
             <div class="form-row submit-btn">
                <div class="input-data">
                   <div class="inner" ></div>
                   <input type="submit"  value="Add Brand" style="text-align: center;">
                </div>
             </div>
          </div>
       </div>
       </form>
   </div>
   </body>
