<app-navbar></app-navbar>
<div class="prod">
  <div class="header">
    <h1>Products</h1>
    <button class="add-button" [routerLink]="['/addprod']" >Add New Product</button>
  </div>
  <table class="prod-table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Brand</th>
              <th>category</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Image</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of products ">
          <td>{{prod.name}}</td>
          <td>{{prod.description}} </td>
          <td>{{prod?.brand?.name}} </td>
          <td>{{prod?.category?.name}} </td>
          <td>{{prod?.price}}$</td>
          <td>{{prod?.qte}}</td>
          <td>
          <img class="card-img-top img-responsive" src = "{{prod.imageStr}}" style = "height :50px;width:100px"></td>
          <td>
            <button class="update-button" [routerLink]="['/updateprod',prod.id]">Update</button>
            <button class="delete-button" (click)="delete(prod.id)">Delete</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
