<app-navbar></app-navbar>
<div class="brand">
  <div class="header">
    <h1>Brand List</h1>
    <button class="add-button" [routerLink]="['/addbrand']">Add New Brand</button>
  </div>
<table class="modern-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands ">
            <td>{{brand.id}}</td>
            <td>{{brand.name}}</td>
            <td>{{brand.description}} </td>
            <td>{{brand.products}}</td>
            <td>
                <button class="update-button" [routerLink]="['/updatebrand',brand.id]">Update</button>
                <button class="delete-button" (click)="delete(brand.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>

</div>
