<app-navbar></app-navbar>
<div class="admin-container">
  <!-- Admin Info Div -->
  <div class="admin-info">
    <img src="../../assets/p2.jpg" alt="Admin's Picture">
    <h2>{{ adminName }}</h2>
    <p>Email: {{ adminEmail }}</p>
  </div>

  <!-- Div for Tables -->
  <div class="tables-container">
    <!-- Brands Table -->


    <!-- Products Table -->
    <div class="table-container">
      <h2><a href="#">Products</a></h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Brand</th>
          <th>Category</th>
        </tr>
        <tr>
          <td>Product 1</td>
          <td>$10.00</td>
          <td>Brand 1</td>
          <td>Category 1</td>
        </tr>
      </table>
    </div>

    <div class="table-container">
      <h2><a href="/orders">List Of Orders</a></h2>
      <table>
        <tr>
          <th>Order Id</th>
          <th>Order Date</th>
          <th>Order Status</th>
        </tr>
        <tr>
          <td>Brand 1</td>
          <td>22/12/2022</td>
          <td>Delivred</td>
        </tr>
      </table>
    </div>


  </div>
</div>
