<app-navbar></app-navbar>
<div class="addorder">
  <h2>Add Order</h2>
<form class="form">
  <label>
    <span class="spantext">Order Date</span>
      <input class="input" type="date" required="" >
    </label>

  <label>
    <span class="spantext">Delivery Address </span>
    <input class="input" type="text" placeholder="" required="">
  </label>

  <label>
    <span class="spantext">Total Ammount</span>
    <input class="input" placeholder="" type="number" required="">
  </label>

  <label>
    <span class="spantext">Status &nbsp;&nbsp;</span>
    <select>
      <option selected style="color: gray;">Status</option>
      <option value="1">Pending</option>
      <option value="2">Processing</option>
      <option value="3">Shipped</option>
      <option value="3">Delivered</option>
      <option value="3">Cancelled</option>
    </select>
  </label>

  <button [routerLink]="['/orders']" class="fancy">
    <span class="top-key"></span>
    <span class="text">submit</span>
    <span class="bottom-key-1"></span>
    <span class="bottom-key-2"></span>
  </button>
</form>

</div>
