  <app-header></app-header>
  <body>
    <div class class="product-container">
       <div class="card"  *ngFor="let product of products"[routerLink]="['/item',product.id]">

        <div class="img_p" >
          <img src="{{ product.image}}" alt="product-image" />
        </div>
        <div class="text">
         <p class="p">{{ product.title }}</p>
          <p class="t">{{ product.description }}</p>
          <div class="icon-box">
            <p class="span">{{product.price}} DT</p>
          </div>
        </div>
      </div>

      </div>
  </body>




