<app-navbar></app-navbar>
<div id="carouselExample" class="carousel slide" >
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="../../assets/medi1.jpg" class="d-block " alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="../../assets/medi2.jpg" class="d-block " alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="../../assets/medi3.jpg" class="d-block" alt="Slide 3">
    </div>
    <!-- Add more carousel items for additional images -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





  <div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Solution <span class="text-muted">desc</span></h2>
        <p class="lead">Another Description</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/medi1.jpg" width="500" height="350" >
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Desc3 <span class="text-muted">Short Desc</span></h2>
        <br>
        <p class="lead">Desription 2</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/medi2.jpg" height="300" width="450">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Et enfin,  <span class="text-muted">celui-ci.</span></h2>
        <p class="lead">description</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/medi3.jpg" height="350" width="500">

      </div>
    </div>

    <hr class="featurette-divider">
  </div>


<app-footer></app-footer>
