.form {
  display: flex;
  left:37%;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  background: linear-gradient(90deg, #3498db, #8e44ad);
  color: #fff;
  border: 1px solid #333;
  animation: gradientAnimation 5s infinite linear;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #862cf3;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: #ffffff;
}
.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rebeccapurple
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  border: 2px solid #b954e1; /* Bordure violette */
  outline: none;
  color: white;
  background-color: transparent;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  transition: box-shadow 0.3s ease;

  border-radius: 10px;
}

.form label .input + span {
  color: #ffffff;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #ea00ff;
  top: 0px;
  font-size: 1em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: 2px solid #8e44ad; /* Bordure violette */
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    background-color: transparent; /* Fond transparent */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}


.submit:hover {
  box-shadow: 0 0 10px 10px #8e44ad; /* Effet dynamique avec une bordure violette au survol */

}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
